.tshirt{
    border: 1px solid lightblue;
    border-radius: 15px;
    padding: 10px;
}
.tshirt img{
    height: 250px;
    border-radius: 15px;
}
.price{
    color: yellowgreen;
}
.tshirt button{
    border: 1px solid lightblue;
}